<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Franco | Farmacia</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Viga&display=swap" rel="stylesheet"></head>

  
</head>
<header>
    
  <nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img id="logo" src="perritologo.png" alt="Logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="index.html">Franco</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#app" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Farmacia
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#app" onclick="antiparasitos()">Antiparasitarios</a></li>
            <li><a class="dropdown-item" href="#app" onclick ="antipulgas()">Antipulgas</a></li>
            
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="juguetes.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Juguetes
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="juguetes.html">Pelotas</a></li>
            <li><a class="dropdown-item" href="juguetes.html">Cuerdas</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="juguetes.html">Botellas-Bebederos</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="contacto.html">Contactenos</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Buscar articulo" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>
</header>

<body>
    <main>
        <div id="app">
            <div class="carrito">
                <h5>Usted selecciono {{articulosSeleccionados.length}} productos</h5>
                
            </div>
    <!--
        <div class="contenedor-producto"v-if="antiparasitosSelect">

            <div class="contenedor-carrito" v-for="articulo in antiparasitariosArray">

                <div class="card" style="width: 18rem;">
                   <img v-bind:src ="articulo.imagen" class="card-img-top" alt="...">
                   <div class="card-body">
                    <h5 class="card-title">{{articulo.nombre}}</h5>
                    <p>{{articulo.descripcion}}</p>
                   </div>
                   <ul class="list-group list-group-flush">
                        <li class="list-group-item">$ {{articulo.precio}}</li>
                   </ul>
                    <div class="card-body">
                     <button @click="agregar(articulo)"  class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Comprar</button>
                     <button @click="quitar(articulo)"  class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Quitar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="contenedor-producto"v-if="antipulgasSelect">
        <div class="contenedor-carrito"  v-for="articulo in antipulgassArray">

            <div class="card" style="width: 18rem;">
               <img v-bind:src ="articulo.imagen" class="card-img-top" alt="...">
               <div class="card-body">
                <h5 class="card-title">{{articulo.nombre}}</h5>
                <p>{{articulo.descripcion}}</p>
               </div>
               <ul class="list-group list-group-flush">
                    <li class="list-group-item">$ {{articulo.precio}}</li>
               </ul>
                <div class="card-body">
                 <button @click="agregar(articulo)"  class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Comprar</button>
                 <button @click="quitar(articulo)"  class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Quitar</button>
                </div>
            </div>
        </div>
    </div>-->
          <!--  CAJA DEL PRODUCTO-->
        
            <div class="contenedor-producto">
                <div class="contenedor-carrito"  v-for="articulo in farmArray1">
                    
                    <div class="card" style="width: 18rem;">
                   <img v-bind:src ="articulo.imagen" class="card-img-top" alt="...">
                   <div class="card-body">
                    <h5 class="card-title">{{articulo.nombre}}</h5>
                    <p>{{articulo.descripcion}}</p>
                   </div>
                   <ul class="list-group list-group-flush">
                        <li v-if = "esUno(articulo)" class="list-group-item" style="background-color: rgb(255, 102, 0) !important; color: #040404;">ULTIMAS UNIDADES!!</li>
                        <li class="list-group-item">$ {{articulo.precio}}</li>
                   </ul>
                    <div class="card-body">
                     <button @click="agregar(articulo)"  class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Comprar</button>
                     <button @click="quitar(articulo)"  class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Quitar</button>
                    </div> 
                    </div>
                </div>
        </div>
        
        <div class="contenedor-producto" >
            
            <div class="contenedor-carrito" v-for="articulo in farmArray2">

                <div class="card" style="width: 18rem;">
                   <img v-bind:src ="articulo.imagen" class="card-img-top" alt="...">
                   <div class="card-body">
                    <h5 class="card-title">{{articulo.nombre}}</h5>
                    <p>{{articulo.descripcion}}</p>
                   </div>
                   <ul class="list-group list-group-flush">
                        <li class="list-group-item">$ {{articulo.precio}}</li>
                   </ul>
                   <div class="card-body">
                    <button @click="agregar(articulo)"  class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Comprar</button>
                    <button @click="quitar(articulo)"  class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Quitar</button>
                   </div>
                </div>
           </div>
        </div>
    
        <div class="contenedor-producto">
            
            <div class="contenedor-carrito" v-for="articulo in farmArray3">

                <div class="card" style="width: 18rem;">
                   <img v-bind:src ="articulo.imagen" class="card-img-top" alt="...">
                   <div class="card-body">
                    <h5 class="card-title">{{articulo.nombre}}</h5>
                    <p>{{articulo.descripcion}}</p>
                   </div>
                   <ul class="list-group list-group-flush">
                        <li class="list-group-item">$ {{articulo.precio}}</li>
                   </ul>
                   <div class="card-body">
                    <button @click="agregar(articulo)"  class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Comprar</button>
                    <button @click="quitar(articulo)"  class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Quitar</button>
                   </div>
                </div>
           </div>
        </div>
</div>
</main>


     <footer>
         <div class="container-footer">
            <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#app">Farmacia</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#app">Antiparasitarios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#app">Antipulgas</a>
            </li>
            
          </ul>

          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="juguetes.html">Juguetes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="juguetes.html">Pelotas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="juguetes.html">Cuerdas</a>
            </li>
            
            
          </ul>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="contacto.html">Contacto</a>
            </li>
            
            
          </ul>

          <a href="index.html"><img id="logo-footer" src="perritologo.png" alt="Logo"></a>
         </div>

        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    
    
    <script src="https://unpkg.com/vue@next"></script>

    <script src="main.js"></script>
</body>
</html>