*{
    font-family: 'Cabin', sans-serif;
}

.navbar{
    
    font-size: 4vh;
    height: 14vh;
    
    
}
.container-fluid{
    background-color:#040404;
    height: 14vh;
    
   /*#FF637D #F4F188 #EAF2E3 #66D7D1*/
    
   
}
#logo{
    width: 8vw;
    height: 11vh;
}
.nav-link{
    font-family: 'Viga', sans-serif;
    
    color: #D7D9CE !important;
}
.nav-link:hover{
    color: #119DA4 !important;
    /*#22F0BC*/
}
.btn-outline-success{
    color: black !important;
    border-color: #D7D9CE !important;
    background-color: #119DA4 !important;
}

.btn-outline-success:hover{
    color: white !important;
    background-color: #0c7489  !important;
    border-color: #119DA4 !important;
}
.d-block{
    height: 69vh !important;
    overflow: hidden;
}
.carousel-caption > h5{
    width: 40%;
    font-size: 5vh;
    color: #22eff7;
    background-color: #d69292;
    
}
.carousel-caption > p{
    font-size: 4vh;
    color: #471a1a;
    -webkit-text-stroke: 2px #22eff7;
}
main{
    padding-top: 3.7%;
    background-image: url("fondo22.jpg");
    width: 100%;
    padding-bottom: 5%;
    
}
#container-form{
    width: 100%;
    
    display: flex;
    justify-content: center;
}
#main-formulario{
    width: 40%;
    background-color: #144f53bb;
    animation-duration: 3s;
    animation-name: slidedown;
  }
  @keyframes slidedown {
    from {
      margin-top: 100%;
      height: 400%
    }
  
    to {
      margin-top: 0%;
      height: 100%;
    }
  }

#formulario{
    width: 95%;
    margin-left: 2.5%;
    -webkit-box-shadow: 0px 1px 30px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 1px 30px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 1px 30px 0px rgba(50, 50, 50, 0.75);
  
}
.mb-3 > label {
    font-size: 3vh;
    color: #040404;
}

#buton{
    background-color: #119DA4 !important;
}
#buton:hover{
    background-color: #13505b !important;
}
.arriba{
    text-align: center;
}
.arriba > h2{
    font-size: 4vh;
    color: #119DA4;
}
.arriba > p{
    font-size: 2.5vh;
}
.carrito{
    width: 80%;
    display: flex;
    justify-content: flex-end;
}
.carrito > h5 {
    font-size: 3vh;
    color: #13505b;
    border-bottom: 2px solid #16cdd6;
}
/*Productos*/
.card{
    border-radius: 10px !important;
    border: 2px solid #EBC2F0;
    -webkit-box-shadow: 0px 1px 30px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 1px 30px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 1px 30px 0px rgba(50, 50, 50, 0.75);
}


.nombre, .precio{
    text-align: center;
}

.contenedor-producto{
    height: 80vh;
    width: 90%;
    margin-top: 5%;
    margin-left: 7%;
    display: flex;
    justify-content:space-around;
}
.contenedor-carrito{
    position: relative;
    animation-duration: 3s;
    animation-name: slidein;
  }
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 400%
    }
  
    to {
      margin-left: 6%;
      width: 100%;
    }
  }
  
.card > .card-body .btn {
        
        margin-right: 5%;
        color: black !important;
        border-color: #0c7489 !important;
        background-color: #119DA4 !important;
 }
    
.card > .card-body .btn:hover{
        color: #119DA4 !important;
        background-color: #131313  !important;
        border-color: #119DA4 !important;
        -webkit-box-shadow: 0px 1px 15px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow:    0px 1px 15px 0px rgba(50, 50, 50, 0.75);
        box-shadow:         0px 1px 15px 0px rgba(50, 50, 50, 0.75);
}
.card {
    text-align: center;
}
.card > .card-body > p{
    font-size: 1.7vh;
}
.card > ul > li {
    
    font-size: 3vh;
    color: #16cdd6;
}
.card-img-top {
    width: 16vw;
    height: 25vh;
}

/*------------------*/
main > h2 {
    width: 100%;
    text-align: center;
    
}
.linea-central{
    display: flex;
    justify-content: center;
}
.linea {
    
    width: 5%;
    height: 1vh;
    background-color: #119DA4;
    border-radius: 10px;
}

#main-perrito{
    width: 25vw;
    height: 50vh;
    overflow: hidden;
}
.main-central{
    padding-top: 6%;
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: center;
    font-size: 2.5vh;
 
}
.main-izq{
    width: 30%;
}
.main-der{
    width: 40%;

}

.main-der > ul > li {
    list-style: none;
    
    
}
.main-der > ul > li >img{
    width: 3vw;
    height: 3vh;
   
    
}
.main-der > p > span{
    color: #119DA4;
    font-weight: bolder;
}
.main-der > p > span:hover {
    color: #13505b;
}

.titulo2{
    padding-top: 5%;
    width: 100%;
    text-align: center;
    
}
.nuestrositio{
    padding-top: 6%;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    font-size: 2.3vh;
    padding-bottom: 10%;
}
.nuestroSitio-izq {
    width: 500px;
    height: 400px;
    -webkit-box-shadow: 0px 1px 15px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 1px 15px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 1px 15px 0px rgba(50, 50, 50, 0.75);
    background-color: #119DA4
}
.nuestroSitio-der{
    width: 30%;
    margin-left: 5%;
    margin-top: 5%;
    font-size: 2.5vh;
}
.nuestroSitio-der > .subtitulo {
    font-size: 3vh;
    font-weight: bolder;
}
.nuestroSitio-der > p > a{
    text-decoration:  none;
    color: #119DA4;
}
.nuestroSitio-der > p > a:hover{
    
    color: #13505b;
}
footer{
    width: 100%;
    height: 30vh;
    
    display: flex;
    align-items: center;
}
.container-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 30vh;
    background-color: #040404;
    border-top: 10px solid #D7D9CE;
}
#logo-footer{
    width: 20vh;
    height: 20vh;
}
.nav{
    font-size: 3vh;
}
.nav > .nav-item > .nav-link{
    color: #D7D9CE !important;
}
.nav > .nav-item > .nav-link:hover{
    color: #119DA4 !important;
    
}
.nav > .nav-item:first-child{
    font-size: 4vh;
}